{% extends 'base.html' %}
{% block title %}Transactions{% endblock %}

{% block content %}

<h2 class="fw-bold">Transactions</h2>
<p class="text-muted">Manage & view your monthly expenses</p>

<div class="d-flex gap-3 mb-3 flex-wrap">

    <select class="form-select" style="max-width: 200px;">
        <option selected disabled>Select Month</option>
        {% for m in months %}
            <option value="{{ m.value }}">{{ m.label }}</option>
        {% endfor %}
    </select>

    <a href="{% url 'export-transactions-pdf' %}" 
       class="btn" style="background: var(--olive-depth); color:white;">⬇ Download PDF</a>

    {% if current_month and current_year %}
        <a href="{% url 'export_monthly_pdf' current_month current_year %}" 
           class="btn btn-info">
            Download Monthly PDF
        </a>
    {% else %}
        <button class="btn btn-secondary" disabled>
            Download Monthly PDF
        </button>
    {% endif %}

    <button class="btn" style="background: var(--olive-depth); color:white;" onclick="window.print()">🖨 Print</button>

</div>

<div class="card p-4 shadow-sm" style="border-radius: 14px;">

    <h2>All Transactions</h2>

    <table class="table table-bordered table-striped table-hover mt-3 text-center">
        <thead class="table-dark">
            <tr>
                <th>Title</th>
                <th>Amount</th>
                <th>Paid By</th>
                <th>Date</th>
                <th>Image</th>
            </tr>
        </thead>

        <tbody>
        {% for t in transactions %}
            <tr>
                <td>{{ t.title }}</td>
                <td>₹{{ t.amount }}</td>
                <td>{{ t.category }}</td>
                <td>{{ t.date }}</td>
                <td>
                    {% if t.image %}
                        <a href="{{ t.image.url }}" target="_blank" class="btn btn-sm btn-secondary">
                            View
                        </a>
                    {% else %}
                        <span class="text-muted">None</span>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5" class="text-muted">No transactions yet.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="mt-3 d-flex gap-2">
        <a href="{% url 'add_transaction' %}" class="btn btn-dark">Add New</a>
        <a href="{% url 'export-transactions-pdf' %}" class="btn btn-success">Export as PDF</a>
    </div>

</div>

{% endblock %}